# Sample TOC file for DocFX
# This file demonstrates the structure and syntax of a TOC file in DocFX

# Basic structure with a single item
- name: Introduction
  href: introduction.md

# Item with children (dropdown menu)
- name: Getting Started
  items:
  - name: Browser Requirements
    href: getting-started/browser-requirements.md
  - name: Free Trial
    href: getting-started/free-trial.md
  - name: End-To-End Use Case
    href: getting-started/end-to-end-use-case.md

# Section with nested items
- name: Concepts
  items:
  - name: Data Stream
    href: concepts/data-stream/
  - name: Application
    href: concepts/application/
    items:
    - name: Overview
      href: concepts/application/overview.md
    - name: App Designer
      href: concepts/application/app-designer.md
    - name: App Viewer
      href: concepts/application/app-viewer.md
  - name: Recommendation
    href: concepts/recommendation/

# External link
- name: XMPro Website
  href: https://xmpro.com/
  target: _blank

# Item with a homepage
- name: How-To Guides
  homepage: how-tos/index.md
  items:
  - name: Data Streams
    href: how-tos/data-streams/
  - name: Applications
    href: how-tos/applications/
  - name: Recommendations
    href: how-tos/recommendations/

# Item with a topicHref (displays the content of the linked page)
- name: Release Notes
  topicHref: release-notes/index.md
  items:
  - name: Version 4.3
    href: release-notes/v4.3.md
  - name: Version 4.2
    href: release-notes/v4.2.md
  - name: Version 4.1
    href: release-notes/v4.1.md
